HELP.md
# Ignore all target directories
target/

# Allow backend JaCoCo report
!backend/target/
!backend/target/site/
!backend/target/site/jacoco/
!backend/target/site/jacoco/index.html

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Front-End Build ###
src/main/resources/static
